@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
}
/* body{
    background-color: rgb(239, 255, 239);
} */
body{
    /* height: 100vh;
    width: 100%; */
    background-image: url('./leafybg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.navbar{
    background-color: #73dc6d77;
    border-radius: 2rem;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.box-model{
    background-color: #ffffff00;
    border-radius: 1rem;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
